@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #ebebeb;
}

body,
.content {
  background-color: var(--backgroundColor);
}

.crop-carroucel {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

@keyframes translate {
  from {
    transform: translate(0px); /* Initial rotation */
  }
  to {
    transform: translate(100%); /* Final rotation (360 degrees) */
  }
}

/* Apply the animation to the element */
.animated-translate {
  animation: translate 20s linear infinite; /* Name of the animation, duration, timing function, and iteration count */
}

@keyframes translate2 {
  from {
    transform: translate(-200%); /* Initial rotation */
  }
  to {
    transform: translate(-100%); /* Final rotation (360 degrees) */
  }
}

.animated-translate2 {
  animation: translate2 20s linear infinite; /* Name of the animation, duration, timing function, and iteration count */
}

/* 
::-webkit-scrollbar {
  width: 1.375rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 1rem;
  border: 0.5rem solid #dbdbdb;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
  cursor: pointer;
} */
